*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background:#f4f6f8;
}

.container{
    display:flex;
    height:100vh;
}

/* LEFT */
.left{
    width:20%;
    background:#ffffff;
    border-right:1px solid #ddd;
    padding:10px;
    overflow-y:auto;
}

.q-item{
    padding:12px;
    margin-bottom:8px;
    background:#f9fafb;
    border-radius:6px;
    cursor:pointer;
    font-size:14px;
    transition:0.2s;
}

.q-item:hover{
    background:#e6f0ff;
}

/* CENTER */
.center{
    width:50%;
    padding:15px;
}

#questionText{
    margin-bottom:10px;
    color:#333;
}

.answer-btn{
    padding:6px 12px;
    margin-bottom:10px;
    border:none;
    background:#007bff;
    color:white;
    border-radius:4px;
    cursor:pointer;
}

#answerBox{
    background:#fff;
    border:1px solid #ddd;
    padding:10px;
    margin-bottom:10px;
    display:none;
    white-space:pre-wrap;
    border-radius:5px;
}

.editor-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:5px;
}

.editor-header span{
    font-weight:600;
}

.editor-header button{
    padding:5px 12px;
    border:none;
    background:#28a745;
    color:white;
    border-radius:4px;
    cursor:pointer;
}

textarea{
    width:100%;
    height:300px;
    padding:10px;
    border:1px solid #ccc;
    border-radius:6px;
    font-family:monospace;
}

/* RIGHT */
.right{
    width:30%;
    background:#ffffff;
    border-left:1px solid #ddd;
}

iframe{
    width:100%;
    height:100%;
    border:none;
}
