*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI, sans-serif;
}

body{
    background:#f5f7fb;
}

.container{
    display:flex;
    height:100vh;
}

/* LEFT */
.left{
    width:25%;
    background:#fff;
    padding:15px;
    border-right:1px solid #ddd;
}

.left h3{
    margin-bottom:10px;
}

#questionBox{
    background:#f1f3f6;
    padding:12px;
    border-radius:6px;
    min-height:120px;
    font-size:15px;
}

.nav-btns{
    display:flex;
    justify-content:space-between;
    margin-top:10px;
}

.nav-btns button{
    padding:6px 14px;
    border:none;
    background:#007bff;
    color:white;
    border-radius:4px;
    cursor:pointer;
}

/* CENTER */
.center{
    width:45%;
    padding:10px;
}

.top-bar{
    display:flex;
    justify-content:space-between;
    margin-bottom:6px;
}

.top-bar button{
    padding:6px 14px;
    border:none;
    border-radius:4px;
    cursor:pointer;
    background:#28a745;
    color:white;
}

textarea{
    width:100%;
    height:90%;
    border:1px solid #ccc;
    border-radius:6px;
    padding:10px;
    font-family:monospace;
}

/* RIGHT */
.right{
    width:30%;
    background:#fff;
    border-left:1px solid #ddd;
}

iframe{
    width:100%;
    height:100%;
    border:none;
}
